<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <WeatherNotification.Properties.Settings>
            <setting name="dustUri" serializeAs="String">
                <value>http://apis.data.go.kr/B552584/</value>
            </setting>
            <setting name="dustKey" serializeAs="String">
                <value>hKbJj4pVqgKYNRsDgbAZgZ25L8ahOjRE9u9HJ72X+VmGr7w9RMcnWTD1b4tILdRE58/zDIuKf2+OBPzTxrsDUA==</value>
            </setting>
            <setting name="enAddressUri" serializeAs="String">
                <value>https://www.juso.go.kr/addrlink/addrEngApi.do</value>
            </setting>
            <setting name="enAddressKey" serializeAs="String">
                <value>devU01TX0FVVEgyMDIxMDQwNzE2NDg1MTExMTAyMDg=</value>
            </setting>
        </WeatherNotification.Properties.Settings>
    </applicationSettings>
</configuration>